[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
uvicorn = "*"
requests = "*"
oauthlib = "*"
requests-oauthlib = "*"
rauth = "*"
beautifulsoup4 = "*"
async-cron = "*"
tzlocal = "*"
pytelegrambotapi = "*"
confuse = "*"

[requires]
python_version = "3.8"
